@model RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<h1>User Registration</h1>

<div class="row">
    <div class="col-md-12 card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group form-floating py-2 col-md-12">
                    <label asp-for="FirstName" class="ms-2"></label>
                    <input asp-for="FirstName" class="form-control border-0 shadow" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group form-floating py-2 col-md-12">
                    <label asp-for="LastName" class="ms-2"></label>
                    <input asp-for="LastName" class="form-control border-0 shadow" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group form-floating py-2 col-12">
                    <label asp-for="Email" class="ms-2"></label>
                    <input asp-for="Email" class="form-control border-0 shadow" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group form-floating py-2 col-12">
                    <label asp-for="Password" class="ms-2"></label>
                    <input asp-for="Password" class="form-control border-0 shadow" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-floating py-2 col-12">
                    <label asp-for="ConfirmPassword" class="ms-2"></label>
                    <input asp-for="ConfirmPassword" class="form-control border-0 shadow" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group form-floating py-2 col-12">
                    <label asp-for="DateOfBirth" class="ms-2"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control border-0 shadow" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="form-group py-2 col-12">
                    <label asp-for="UserGender" class="ms-2"></label><br />
                    <label>
                        <input asp-for="UserGender" type="radio" value="Male" class="form-check-input" /> Male
                    </label>
                    <label class="ms-3">
                        <input asp-for="UserGender" type="radio" value="Female" class="form-check-input" /> Female
                    </label>
                    <span asp-validation-for="UserGender" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary col-6 col-md-3">Register</button>
            </div>
        </form>
    </div>
</div>
